<h1>All Posts</h1>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.created_at.strftime("%B %d, %Y") %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Please click ok to delete' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<p><%= link_to 'New Post', new_post_path %></p>
