<p>
  <h2>Title:</br></h2>
  <%= @post.title %>
</p>

<p>
  <h2>Body:</br></h2>
  <%= @post.body %>
</p>

<h3>Comments</h3>
<p>
	<%= render :partial => @post.comments.reverse %>
</p>

<%= form_for([@post, Comment.new], remote: true) do |f| %>
	<p><%= f.label :body, "New Comment" %><br />
		<%= f.text_area :body %>
	</p>
	<p><%= f.submit "Add Comment" %> </p>
<% end %>



<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
