<!DOCTYPE html>
<html>

<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="main">

    <div id="dark_container">
      <div id="banner">
        <div id="slideshow">  
          <ul class="slideshow">
            <li class="show"><img width="940" height="250" src="/assets/W.jpg" alt="W;" /></li>
            <li><img width="940" height="250" src="/assets/M.jpg" alt="M;" /></li>
          </ul> 
        </div><!--close slideshow-->    
      </div><!--close banner--> 
    </div><!--close dark_container-->

    <div id="menu_container">
      <div id="menubar">
        <ul class="sf-menu" id="nav">
          <li><%= link_to "Blog", root_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Links", links_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div><!--close menubar-->  
    </div><!--close menu_container--> 

    <div id="site_content"> 

      <div class="sidebar_container">       
        <div class="sidebar">
          <div class="sidebar_item">
            <h2>Time Machine</h2> 
            <h3>February 2020</h3>
            <p>Hi!! This is a message from the future.</p>      
          </div><!--close sidebar_item--> 
        </div><!--close sidebar-->
      </div><!--close sidebar_container-->        
   
      <div id="content">
        <div class="content_item">
      
          <% if current_page?(root_path) %>
            <h1>Blog</h1>
          <% elsif current_page?(about_path) %>
            <h1>About</h1>
          <% elsif current_page?(links_path) %>
            <h1>Links</h1>
          <% elsif current_page?(contact_path) %>
            <h1>Contact</h1>
          <% else %>
            <h1>Blogging</h1>
          <% end %>
          <%= yield %>          
          
      
        </div><!--close content_item-->
      </div><!--close content-->   
    </div><!--close site_content-->  
  </div><!--close main-->
  
    <div id="footer_container">
      <div id="footer">
        &#x2605  
      </div><!--close footer-->  
    </div><!--close footer_container-->  

</body>
</html>